// Mixins Here

.fWidth() {
    width: 100%;
}

.flex(@display: flex) {
    display: @display;
}

.customBtn(@bgColor, @textCol) {
    text-align: center;
    border: 1px solid black;
    background: @bgColor;
    color: @textCol;
    border-radius: 5px;
    font-size: 20px;
    width: 100px;
    padding: 10px;

    &:hover {
        transition: 0.25s;
        background: @textCol;
        color: @bgColor;
      }
}